@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&family=Oswald:wght@200..700&display=swap');

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Oswald;
  margin: 0;
}

.app-cont {
  min-height: 100vh;
  background-color: #9ba9eb;
  padding: 2rem 10rem;
}

.app-logo {
  height: 10rem;
  width: 20rem;
  object-fit: contain;
}

.main-cont {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5763a5;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5rem;
}

.password-adding-cont {
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  width: 50%;
  background-color: #454f84;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
  color: white;
  font-size: 2rem;
  font-family: roboto;
  letter-spacing: 2px;

  margin: 0;
}

.input-cont {
  display: flex;
  background-color: white;
  align-items: center;
  width: 90%;
}

.input-logo {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center;
  border-right: 1px solid #94a3b8;
  background-color: white;
}

.input-cont input {
  padding: 1rem 1rem;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1.6rem;
  color: black;
  width: 100%;
}

.add-btn {
  padding: 1rem 2rem;
  background-color: #0b69ff;
  border: none;
  outline: none;
  border-radius: 8px;
  align-self: flex-end;
  color: white;
}

.password-manager-img {
  width: 50%;
  height: 55rem;
  object-fit: contain;
  object-position: center;
}

.saved-password-cont {
  background-color: #5763a5;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5rem 5rem;
}

.password-search-count-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e8ee;
  border-bottom-width: 90%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.password-count-cont {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.name {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.count {
  border: 1px solid white;
  border-radius: 1.2rem;
  color: white;
  font-size: 2rem;
  padding: 0 2rem;
}

.password-search-cont {
  display: flex;
  align-items: center;
  background-color: white;
}

.password-search-cont img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  object-position: center;
  border-right: 1px solid #94a3b8;
  background-color: white;
}

.password-search-cont input {
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: white;
}

.show-password {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  column-gap: 1rem;
}

#checkbox {
  transform: scale(1.5);
}

label {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
}

figure {
  text-align: center;
}

.no-password-img {
  height: 40rem;
  width: 40rem;
  object-fit: contain;
  object-position: center;
}

.saved-password-list-cont {
  padding-inline-start: 0;
  display: flex;
  gap: 1rem 1rem;
  flex-wrap: wrap;
  min-height: 30rem;
}

/* making responsive */

/* small devices */

@media (max-width: 600px) {
  .app-cont {
    padding: 2rem 2rem;
  }
  .app-logo {
    height: 5rem;
    width: 10rem;
  }

  .main-cont {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  .password-manager-img {
    height: 25rem;
    width: 100%;
  }
  .password-adding-cont {
    padding: 2rem 2rem;
    width: 100%;
    row-gap: 3rem;
    order: 1;
  }

  .input-cont {
    width: 100%;
  }

  .input-logo {
    height: 3rem;
    width: 3rem;
  }

  .saved-password-cont {
    padding: 3rem 2rem;
  }

  .name {
    font-size: 1rem;
  }

  .count {
    padding: 5px 1rem;
    font-size: 1.2rem;
  }

  .password-search-cont {
    flex-basis: 50%;
  }

  .password-search-cont img {
    height: 3rem;
    width: 3rem;
  }
  .password-search-cont input {
    width: 100%;
  }

  .no-password-img {
    height: 20rem;
    width: 20rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .app-cont {
    padding: 2rem 2rem;
  }

  .main-cont {
    padding: 2rem 2rem;
  }

  .password-adding-cont {
    padding: 2rem 1rem;
  }

  .input-cont {
    width: 100%;
  }
}
